/* teacher details style */
.details-cart{
    position: absolute;
    margin: 25px;
    padding: 50px;
    background-color: burlywood;
    border: 1px solid goldenrod;
    border-radius: 10px;
    font-size: 15px;
    
}
.details-cart h6{
    padding: 5px;
}
